
.ib-login {
    background-size: cover;
    /* background-color: rebeccapurple; */
    background-image: url('../img/ib-bg1.jpeg');
}
.ib-login .ib-label {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 20px;
    margin-top: 15px;
    padding: 6px;
    cursor: pointer;
}
.ib-login .ib-label input {
    color: #000000;
}
.ib-login-bnt {
    border-radius: 30px;
}
.inb-sing-link {
    text-align: center;
    color: #ffffff;
}
.inb-sing-link a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


.ib-signup .in-sign-or {
    text-align: center;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}
.business-checkbox {
    display: flex;
    align-items: center;
}
.ib-type .type-lbl {
    padding-top: 15px;
    padding-left: 5px;
    font-weight: bold;
}


.business-checkbox {
    padding: 5px 0px 0px 35px;
}
.business-checkbox .item-content {
    border-radius: 100px !important;
    padding: 10px;
    border: 1px solid gray;
    width: 10%;
    background-color: #ffffff;
}
.business-checkbox .item-radio {
    width: 12%;
}
.business-checkbox .radio-icon {
     top: -20px;
     color: blue;
}
.business-checkbox .ib-radio-label{
    padding: 0px 45px 25px 0px;
} 